@import url(//db.onlinewebfonts.com/c/163f0b34b7cfa2d1af111b31c705c86e?family=Kabel);

:root {
    font-size: 1rem;
    --box-size: 1.53em;
    --diametro-jogador: .625em;
    --gap-entre-jogadores: .06em;
    --bg-color: #d5eadb;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    user-select: none;
    background: linear-gradient(60deg, #6a65f6 0%, #fda085 100%) no-repeat center center fixed;
}

main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: max-content;
}

p{
    font-size: 16px;
    margin: 5px 0;
    font-weight: 500;
}

button{
    border-radius: 5px;
    border: 1px solid rgb(202, 170, 168);
    cursor: pointer;
}

button:hover{
    background: rgb(202, 170, 168);
    border: 1px solid rgb(105, 58, 58);
}

button:focus{
    border:1px solid rgb(105, 58, 58);
}


